@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root{
    --cor-defundo: #436428;
    --cor-texto: #000;

}
body{
    background-color: var(--cor-defundo);
    
}
.cartao{
    background-color: #A0D676;
    border-radius:40px;
    display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 65vmin;
	height: 30vmin;
	margin: 2rem auto;
    border: 5px solid;
    }
    .cartao:hover{
        background-color: cadetblue;

    }
.cartao{
    font-size:16px ;
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;}


.container-titulo{
        color: aliceblue;
        

    }

.footer{
    background-color: white;
   
}