@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root{
    --cor-defundo: #436428;
    --cor-texto: #000;

}
body{
    background-color: var(--cor-defundo);
    
}
.cartao{
    background-color: #A0D676;
    border-radius:40px;
    display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 65vmin;
	height: 30vmin;
	margin: 2rem auto;
    border: 5px solid;
    }
    .cartao:hover .cartao--conteudo{
        background-color: #58a545;
        transform: rotateY(180deg);

    }
    .cartao--conteudo{
        transform-style: preserve-3d;
        transition: transform 300ms ease-in-out;
    }
    .cartao--pergunta .cartao--resposta{
        backface-visibility: hidden;
    
    }
    .cartao--resposta{
        transform: rotateY('160deg');
    }
.cartao{
    font-size:20px ;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}


.container-titulo{
        color: aliceblue;

        

    }

.footer{
    background-color:white;
   
}