@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root{
    --cor-defundo: #436428;
    --cor-texto: #000;

}
body{
    background-color: var(--cor-defundo);
    
}
#conteudo{
    display: flex;
    flex-wrap:wrap ;
    justify-content: space-between;
    padding: 4rem;
    gap: 3rem;
}
.cartao{
    margin: 1rem 1rem;
    flex-grow: 1;
    flex-basis: calc(33% - 6rem);
    text-align: center;
    }

.cartao--conteudo{
    background-color: aliceblue;
    transform-style: preserve-3d;
    transition: transform 300ms ease-in-out;
    }
    
    .cartao.activite .cartao--conteudo{
       background-color: #A0D676;
       transform: rotateY('180deg'); }

       
    
    .cartao--pergunta, .cartao--resposta{
        backface-visibility: hidden;
    }
    .cartao--resposta{
        transform: rotateY('180deg');
    }

    .cartao p{
        font-size: 27px;
        margin-top: 1rem;
        padding: 2rem;
    } 
    
  